SMTP_SENDER=YOUR_EMAIL
SMTP_PASSWORD=YOUR_APP_PASSWORD
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_TLS=true

# redis + rabbitMQ
REDIS_BACKEND_URL=redis://redis:6379/0
REDIS_APP_URL=redis://redis:6379/1
REDIS_FQ_URL=redis://redis:6379/2
RABBITMQ_BROKER_URL=pyamqp://guest@rabbitmq//

# database
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=vicrispr

DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/vicrispr

# python2 env
ML_CONDA_ENV=env2









